/* static/css/style.css */



 /* En este fichero esta contenido casi todo el css pero algunas lineas del css están dentro del codigo,
  buscar el comentario CSS codigo dentro del index.html */



body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif; /* Tipo de fuente más genérica y profesional */
    
}

.nav-custom {
    background-color: transparent; /* Inicialmente transparente */
    transition: background-color 0.3s; /* Suavizar la transición del color de fondo */
    color: #ffffff;
}

.nav-custom.scrolled {
    background-color: #000000; /* Oscurecer el navbar al hacer scroll */
}

.nav-custom .navbar-brand,
.nav-custom .nav-link {
    color: #ffffff; /* Texto blanco para mayor contraste */
}

.nav-custom .nav-link:hover {
    color: #dddddd; /* Un gris claro para el hover */
}

.header-content {
    background: url('../images/imagenfondo.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0; /* Aumentar el padding para un encabezado más grande */
    color: #fff;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.navbar-scrolled {
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para el navbar */
}

/* Estilos para la sección de servicios */
.service-item {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

h4 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.service-item p {
    color: #666;
    font-size: 0.9rem;
}


.full-width-section {
    width: 100%; /* Asegura que el div ocupe toda la pantalla */
    background-color: #f4f4f4; /* Color de fondo */
    padding: 50px 0; /* Espacio superior e inferior para la sección */
}

.feature-section {
    padding-top: 0;
    padding-bottom: 0; /* Remueve el padding del contenedor para manejarlo en el div externo */
}

/* Ajustes para garantizar que la imagen y el texto están bien alineados y espaciados */
.feature-section .row {
    margin-right: 0;
    margin-left: 0;
}

.feature-section img {
    max-width: 100%;
    height: auto; /* Asegura que la imagen sea responsive y mantenga su aspecto */
}

.feature-section h2, .feature-section p {
    margin: 20px 0; /* Espaciado vertical para el texto y el título */
}

#universidades {
    background-color: #F4F4F4;
    margin-top: 50px;
}

#universidades .universidad-item {
    max-width: 100%; /* Utiliza el 100% del espacio disponible en su contenedor */
    margin: 0 auto;
    overflow: hidden; /* Asegura que nada se desborde */
}

#universidades .universidad-item .universidad-link {
    position: relative; /* Posicionamiento relativo para permitir posicionamiento absoluto dentro */
    display: block; /* Establece los enlaces como bloques para permitir el manejo de tamaño */
    width: 100%; /* Asegura que el enlace ocupe todo el ancho del contenedor */
}

#universidades .universidad-item .universidad-link .universidad-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cubre todo el ancho del enlace */
    height: 100%; /* Cubre toda la altura del enlace */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 200, 0, 0.9); /* Fondo amarillo semi-transparente */
    opacity: 0; /* Inicia invisible */
    transition: opacity 0.25s ease-in-out; /* Transición suave para el efecto hover */
}

#universidades .universidad-item .universidad-link:hover .universidad-hover {
    opacity: 1; /* Se vuelve completamente visible al hacer hover */
}

#universidades .universidad-item img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
    display: block; /* Elimina cualquier espacio extra debajo de la imagen */
}

#universidades .universidad-caption {
    background-color: #fff; /* Fondo blanco para los textos */
    padding: 15px; /* Espacio alrededor del texto */
    text-align: center; /* Alinea el texto al centro */
}

#universidades .universidad-caption-heading {
    font-size: 18px; /* Tamaño de fuente para el encabezado */
    font-weight: bold; /* Fuente en negrita */
    margin-top: 10px; /* Espacio arriba del encabezado */
}

#universidades .universidad-caption-subheading {
    font-size: 15px; /* Tamaño de fuente para el subencabezado */
    color: #666; /* Color del texto */
    font-style: italic; /* Estilo de fuente en cursiva */
}


.universidad-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

.universidad-modal .modal-content {
    padding-top: 3rem; /* Reduce el espacio superior */
    padding-bottom: 10rem; /* Reduce el espacio inferior */
    text-align: center;
}

.universidad-modal .modal-content h2,
.portfolio-modal .modal-content .h2 {
    font-size: 3rem;
    line-height: 3rem;
}

.universidad-modal .modal-content p.item-intro {
    font-style: italic;
    margin-bottom: 2rem;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.universidad-modal .modal-content p {
    margin-bottom: 2rem;
}

.universidad-modal .modal-content ul.list-inline {
    margin-bottom: 2rem;
}

.universidad-modal .modal-content img {
    margin-bottom: 2rem;
}

.universidad-modal .close-modal {
    position: absolute;
    top: 1rem; /* Reduce la distancia desde la parte superior */
    right: 1rem; /* Reduce la distancia desde la parte derecha */
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
}

.universidad-modal .close-modal:hover {
    opacity: 0.3;
}

#tituloModal1 {
    margin-top: 0px; /* Ajusta según sea necesario para subir el título */
    margin-bottom: 60px; /* Espacio entre el título y la barra de progreso */
    text-align: center; /* Centra el título si es necesario */
}
.parte-superior {
    padding-bottom: 30px;
    border-bottom: 2px solid #ccc; /* Línea divisoria opcional */
    margin-bottom: 30px;
}

.parte-inferior {
    padding-top: 0px;
}

.star-rating .fas,
.star-rating .far {
    color: #ccc;
    font-size: 24px;
    margin-right: 5px;
}

.star-rating .filled {
    color: #f5c518;
}


.star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#ratingValue {
    font-size: 34px;
    font-weight: bold;
    color: black;
    margin: 0;
}
#ratingValue3 {
    font-size: 34px;
    font-weight: bold;
    color: black;
    margin: 0;
}
#ratingValue4 {
    font-size: 34px;
    font-weight: bold;
    color: black;
    margin: 0;
}
#ratingValue5 {
    font-size: 34px;
    font-weight: bold;
    color: black;
    margin: 0;
}
#ratingValue6 {
    font-size: 34px;
    font-weight: bold;
    color: black;
    margin: 0;
}
#ratingValue7 {
    font-size: 34px;
    font-weight: bold;
    color: black;
    margin: 0;
}
#ratingValue8 {
    font-size: 34px;
    font-weight: bold;
    color: black;
    margin: 0;
}
#ratingValue9 {
    font-size: 34px;
    font-weight: bold;
    color: black;
    margin: 0;
}
.text-muted {
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 10px; /* Espacio antes del texto */
    margin-bottom: 5px; /* Espacio después del texto, antes de la barra de progreso */
    font-size: 18px; /* Tamaño de fuente para el texto descriptivo */
    color: #6c757d; /* Color gris suave para el texto */
}


.palabras-interes {
    background-color: #f8f9fa; /* Color de fondo claro */
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra sutil */
}

.palabras-interes h3 {
    color: #333; /* Color oscuro para el título */
    margin-bottom: 10px;
}

.palabras-interes ul {
    list-style: inside; /* Puntos dentro del margen */
}

.palabras-interes li {
    margin-bottom: 5px;
    color: #555; /* Color gris para texto */
}